{% extends "MyBlogBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="mainbar">
        <div class="article">
            Congratese {{app.user}} , your account is activate!
        </div>
    </div>
{% endblock %}