{% extends "MyBlogBundle::layout.html.twig" %}
{% block content %}
    <div class="mainbar">
        <div class="article">
            <h2>{% trans_default_domain 'FOSUserBundle' %}</h2>
            <div class="clr"></div>
            {% block fos_user_content %}
                <p>{{ 'resetting.password_already_requested'|trans }}</p>
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}